---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">
      {% assign row = forloop.index | modulo: 2  %}
      {% if row == 1 %}
        {% assign float = "right" %}
      {% else %}
        {% assign float = "left" %}
      {% endif %}
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        <div>
          <img alt="Small image from post" src="/images/{{ post.image }}" class="extract" style="float: {{ float }};">
          {{ post.excerpt }}
        </div>
      </div>
      <div class="date">
        Written on {{ post.date | date: "%B %e, %Y" }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>